%border{
   border: 2px solid black;
}

#trainer-container{
    #trainer{
        text-align: center;
        margin-top: 6%;
    }
}

#image-container{
   text-align: center;
    #trainer-pic{
        height:300px;
        width:200px;
        text-align: center;
    }
}

#header-container{
   @extend %border;
   padding: 2%;
}
#gym-name{
    text-align: center;
}
.display-pokemon{
   @extend %border;
}

.display-stats{
   @extend %border;
}
#display-pokemon{
    #second-pokemon img{
        max-width:80%;
    }
    #third-pokemon img{
        max-width:80%;
    }
}