// @import './partials/trainer-carousel';
@import './partials/pokemon-carousel';

%border{
   border: 2px solid black;
}

.trainer-container{
    margin-top: 5%;
    .trainer{
        text-align: center;
        
    }
}

.image-container{
   text-align: center;
   margin-top: 3%;
    .trainer-pic{
        height:300px;
        width:200px;
        text-align: center;
    }
}

.header-container{
   @extend %border;
   padding: 2%;
   margin: 1%;
   justify-content: center;
}


.gym-name{
    text-align: center;
}


.trainer-container{
    flex-direction: column;
}


.images{
    max-width:150px;
}