.carousel {
  margin-top: 20px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.carousel figure {
  margin: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 50% 50% -300px;
          transform-origin: 50% 50% -300px;
}

.carousel figure .display-pokemon {
  padding: 0 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.98;
}

.carousel figure .display-pokemon:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: 50% 50% -300px;
          transform-origin: 50% 50% -300px;
}

.carousel figure .display-pokemon:nth-child(2) {
  -webkit-transform: rotateY(2.0944rad);
          transform: rotateY(2.0944rad);
}

.carousel figure .display-pokemon:nth-child(3) {
  -webkit-transform: rotateY(4.18879rad);
          transform: rotateY(4.18879rad);
}

.carousel nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 40%;
  width: 300px;
}

.carousel nav i {
  cursor: pointer;
  font-size: 3em;
  margin: 10px 20px;
}

.carousel nav i:focus {
  outline: none;
}

.carousel nav i:hover {
  color: #0f0;
}

#trainer-carousel {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trainer-carousel > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

#trainer-carousel #trainer-carousel-figure {
  margin: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 50% 50% -1000px;
          transform-origin: 50% 50% -1000px;
}

#trainer-carousel #trainer-carousel-figure .display-trainer {
  padding: 0 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.98;
}

#trainer-carousel #trainer-carousel-figure .display-trainer:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: 50% 50% -1000px;
          transform-origin: 50% 50% -1000px;
}

#trainer-carousel #trainer-carousel-figure .display-trainer:nth-child(2) {
  -webkit-transform: rotateY(2.0944rad);
          transform: rotateY(2.0944rad);
}

#trainer-carousel #trainer-carousel-figure .display-trainer:nth-child(3) {
  -webkit-transform: rotateY(4.18879rad);
          transform: rotateY(4.18879rad);
}

#trainer-carousel #trainer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 25%;
  z-index: 2;
  width: 300px;
}

#trainer-carousel #trainer-nav i {
  cursor: pointer;
  font-size: 3em;
  margin: 10px 20px;
}

#trainer-carousel #trainer-nav i:focus {
  outline: none;
}

#trainer-carousel #trainer-nav i:hover {
  color: #0f0;
}

.header-container {
  border: 2px solid black;
}

.trainer-container {
  margin-top: 5%;
}

.trainer-container .trainer {
  text-align: center;
}

.image-container {
  text-align: center;
  margin-top: 3%;
}

.image-container .trainer-pic {
  height: 300px;
  width: 200px;
  text-align: center;
}

.header-container {
  padding: 2%;
  margin: 1%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gym-name {
  text-align: center;
}

.trainer-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.images {
  width: 180px;
}
/*# sourceMappingURL=style.css.map */